/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 5px solid rgba(39, 46, 41, 0.8);
    background-color: rgba(131,192,145,0.8);
}

#input {
    color: rgba(211, 198, 170, 1);
    border: 2px solid rgba(39, 46, 41, 0.8);
    background-color: rgba(131, 192, 145, 0.3);
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #35b9ab;
}

#scroll label {
    margin: 2px 0px;
    color: rgba(39, 46, 41, 1);
}

#entry:selected {
    background-color: rgba(214, 153, 182, 0.7);
}
